/*h1{
    color: #03d6c7;
    text-align: center;
}

body{
    color: red;
    height: 50vh;
    background-color: #000;
    background-image: url('background.jpg');
    background-position: center center;
}*/
body{
    background: #f4f4f4;
    font-family: arial, sans-serif;
    line-height: 1.5em;

}

#container{
    border: 1px #cccccc solid;
    padding: 0 10px 0 10px;
    width: 800px;
    margin: 30px auto; /*위아래는 상한이 없음 auto 없음*/
    overflow: hidden; /*scroll auto */
    /*padding: 0 10px; 대칭*/
    /*각각도 가능*/
    /*t r b l*/
}
/* 클래스 .   아이디 #   없는건 html 태그 */
.highlight{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.left-side{
    float: left;
    width: 50%;
}

/*
.right-side{
    float: right;
    width: 50%;
}*/
